{{!-- FORM --}}
<form action="/register" method="POST">
    <img src="../image/icon.png" alt="">
    <input type="text" name="name"  value="{{data.name}}" placeholder="nome"class="form-control">
    <input type="text" name="idade" value="{{data.idade}}" placeholder="idade"  class="form-control">
    <input type="submit" class="btn btn-warning btnEditar" value="Editar" >
    <a href="#" class="btn btn-danger">Remover</a>
    <a href="/" class="btn btn-secondary">Cencelar</a>
</form>

